sudo: required

notifications:
  email: false

services:
  - docker

before_install:
  - docker build -t arduino-ci .
# - docker build --target builder -t arduino-builder-test .
# - docker run -it arduino-builder-test go test github.com/arduino/arduino-builder/... -timeout 60m

script:
  - docker run -it -v $PWD/tests:/sketch arduino-ci
